.drivers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.driver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #000000 solid 1px;
    margin: 5px;
    padding: 5px;
}

.driver_portrait {
    height: 10em;
    width: 10em;
}
